<nav>
  <section>
    <a href="/">
        <div class="btn" {% if page.url == "/" %}style="color: #b5e853;"{% endif %}>
          Home
        </div>
      </a>
    <a href="/post1.html">
      <div class="btn" {% if page.url == "/post1.html" or page.url == "/post2.html" or page.url == "/post3.html" or page.url == "/post4.html" or page.url == "/post5.html" or page.url == "/post6.html" %}style="color: #b5e853;"{% endif %}>
        Publications 
      </div>
    </a>
    <a href="https://vk.com/dev_inst" class="btn" target="_blank">
        <span class="icon"></span>
        Group
    </a>
  </section>
  </nav>
