<nav>
  <section>
    <a href="/">
        <div class="btn" {% if page.url == "/" %}style="color: #b5e853;"{% endif %}>
          Главная
        </div>
      </a>
    <a href="/post1.html">
      <div class="btn" {% if page.url == "/post1.html" or page.url == "/post2.html" or page.url == "/post3.html" or page.url == "/post4.html" or page.url == "/post5.html" %}style="color: #b5e853;"{% endif %}>
        Публикации 
      </div>
    </a>
    <a href="https://vk.com/dev_inst" class="btn btn-vk" target="_blank">
        <span class="icon"></span>
        Группа
    </a>
  </section>
  </nav>
